@import "tailwindcss";

@config "../../tailwind.config.js";

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* .appear-delay {
  transition-delay: 500ms;
} */

/* .car-card-default {
  transition: opacity 500ms ease-in-out 0ms,
              top 500ms ease-in-out 0ms,
              left 500ms ease-in-out 0ms,
              width 500ms ease-in-out 0ms,
              height 500ms ease-in-out 0ms,
              z-index 500ms ease-in-out 0ms,
              rotate 500ms ease-in-out 0ms;
} */
.car-card-default {
  transition: 
              top 500ms ease-in-out 0ms,
              left 500ms ease-in-out 0ms,
              width 500ms ease-in-out 0ms,
              height 500ms ease-in-out 0ms,
              z-index 500ms ease-in-out 0ms,
              opacity 500ms ease-in-out 0ms,
              transform 500ms ease-in-out 0ms;
}

.car-card-appear-delay {
  transition: opacity 500ms ease-in-out 500ms,
              top 500ms ease-in-out 0ms,
              left 500ms ease-in-out 0ms,
              width 500ms ease-in-out 0ms,
              height 500ms ease-in-out 0ms,
              z-index 500ms ease-in-out 0ms,
              transform 500ms ease-in-out 0ms;
}

.no-hover-effect[data-hover] {
  /* Set the styles to be the same as the non-hovered state */
  background-color: var(--hero-ui-button-bg-default); /* Example */
  color: var(--hero-ui-button-text-default); /* Example */
  box-shadow: none; /* Remove any box-shadow on hover */
  transform: none; /* Prevent any transform effects on hover */
  transition: none; /* Disable transitions for hover state */
}

/* .disappear {
  transition: opacity 300ms ease-in-out 0ms;
} */

/* .appear-delay {
  transition: opacity 500ms ease-in-out 500ms;
}



.move-around {
  transition: top 500ms ease-in-out, left 500ms ease-in-out, z-index 500ms ease-in-out;
} */